{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static './style.css' %}">
  <form method="post" action="{% url 'thank_you' %}">
    {% csrf_token %}
    {% for question in questions %}
      <div class="question">
        <h3>{{ question.question_text }}</h3>
        <div class="video-wrapper">
          <iframe src="{{ question.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <input type="hidden" name="question" value="{{ question.id }}">
        <input type="text" name="response" pattern="[0-9/]+" required>
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
