{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static './style.css' %}">
  <form method="post" action="{% url 'thank_you' %}">
    {% csrf_token %}
    <div class="question">
      <label>Płeć:</label>
      <div class="radio-group">
        <label>
          <input type="radio" name="gender" value="M" required>
          <span>Mężczyzna</span>
        </label>
        <label>
          <input type="radio" name="gender" value="K" required>
          <span>Kobieta</span>
        </label>
      </div>
    </div>
    <div class="question">
      <label>Wiek:</label>
      <div class="radio-group">
        <label>
          <input type="radio" name="age_range" value="<20" required>
          <span>Mniej niż 20</span>
        </label>
        <label>
          <input type="radio" name="age_range" value="20-35" required>
          <span>20-35</span>
        </label>
        <label>
          <input type="radio" name="age_range" value="35-50" required>
          <span>35-50</span>
        </label>
        <label>
          <input type="radio" name="age_range" value="50-65" required>
          <span>50-65</span>
        </label>
        <label>
          <input type="radio" name="age_range" value="65+" required>
          <span>65 i więcej</span>
        </label>
      </div>
    </div>
    {% for question in questions %}
      <div class="question">
        <h3>{{ question.question_text }}</h3>
        <div class="video-wrapper">
          <iframe src="{{ question.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <input type="hidden" name="question" value="{{ question.id }}">
        <input type="text" name="response" pattern="[0-9/]+" required>
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}