<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Dziękujemy!</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>

	<main>
		<h2>Dziękujemy za wypełnienie ankiety!</h2>
		<p class="message">Twoje odpowiedzi są dla nas bardzo cenne. Dzięki nim będziemy mogli lepiej zrozumieć wpływ ćwiczeń na ciśnienie tętnicze. Jesteśmy Ci bardzo wdzięczni!</p>
	</main>

	<footer>
		<p>&copy; 2023 Daniel Cieślak &amp; Maciej Kapłan</p>
	</footer>

</body>
</html>
